[defaults]
# Fichier d'inventaire par défaut
inventory = inventory.ini

# Désactiver la vérification des clés SSH de l'hôte (TP uniquement)
host_key_checking = False

# Nombre de serveurs gérés en parallèle
forks = 5

# Ne pas créer de fichier .retry en cas d'échec
retry_files_enabled = False

# Coloration de la sortie
force_color = True

# Timeout de connexion SSH (en secondes)
timeout = 30

[privilege_escalation]
# Utiliser sudo pour les tâches qui nécessitent les droits root
become = False
become_method = sudo
become_ask_pass = False